//
//  Secrets.xcconfig
//  MaxAIAssistant
//
//  Created by Max Lerner on 19/04/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
// Secrets.xcconfig
META_APP_ID = 1260355842800219
META_CLIENT_TOKEN = AR|1260355842800219|7d29d4ffc1feb80d86b3946b6d4dd2e0