<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>maxaiassistant</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-viewapp</string>
	</array>
	<key>MWDAT</key>
	<dict>
		<key>AppLinkURLScheme</key>
		<string>maxaiassistant://</string>
		<key>ClientToken</key>
		<string>$(META_CLIENT_TOKEN)</string>
		<key>MetaAppID</key>
		<string>$(META_APP_ID)</string>
		<key>TeamID</key>
		<string>$(DEVELOPMENT_TEAM)</string>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_mwdat._tcp</string>
		<string>_mwdat._udp</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Max saves captured photos to your camera roll so you can view and share them later.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Max uses microphone access to listen for 'Hey Max', including via connected Ray-Ban Meta glasses.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.meta.ar.wearable</string>
	</array>
</dict>
</plist>
